{{define "footer"}}
<footer style="padding: 3rem 0;font-size: 13px;
    background-color: #59626D;
        margin-top: 2rem;
">
    <div class="container"> 
        <p>
            Copyright 2019 Helm Ventures LLC
        <p>
    </div>
</footer>
{{end}}